name: publish

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:

    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Cache Coursier
      uses: actions/cache@v3
      with:
        path: ~/.cache/coursier
        key: ${{ runner.os }}-coursier-${{ hashFiles('**/*.sbt') }}

    - name: Cache SBT
      uses: actions/cache@v3
      with:
        path: ~/.sbt
        key: ${{ runner.os }}-sbt-${{ hashFiles('**/*.sbt') }}

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '11'

    - name: Setup Graphviz
      uses: ts-graphviz/setup-graphviz@v1

    - name: Import Sonatype GPG key
      id: import_gpg
      uses: crazy-max/ghaction-import-gpg@v5
      env:
        gpg_private_key: ${{ secrets.PGP_SECRET }}
        passphrase: ${{ secrets.PGP_PASSPHRASE }}

    - name: Setup Git Token
      uses: fregante/setup-git-user@v1

    - name: Publish to Sonatype
      env:
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      run: |
          sbt -Dsbt.color=always -Dsbt.supershell=false publishSigned sonatypeBundleRelease

    - name: Publish API docs to GitHub Pages
      run: |
          git config --global user.email "github-action@users.noreply.github.com"
          git config --global user.name "GitHub Action"
          sbt -Dsbt.color=always -Dsbt.supershell=false ghpagesPushSite
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
